#mapContainer { 
	height: 550px; 
	width: 100%; 
}
#mapContainer .mapArea { 
	width: 500px; 
	height: 100%; 
	float: left; 
}
#mapContainer .map { 
	width: 500px; 
	height: 500px; 
}
#mapContainer .trace { 
	text-align: right; 
	height: 25px; 
}
#mapContainer .traceSelect {
	width: 300px; 
}
#mapContainer .info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
#mapContainer .info h4 {
	margin: 0 0 5px;
	color: #777;
}
#mapContainer .legend {
	font-size: x-small;	
	text-align: left;
	line-height: 12px;
	color: #555;
}
#mapContainer .legend i {
	width: 20px;
	height:10px;
	float: left;
	margin-right: 1px;
	opacity: 0.7;
}
#mapContainer .chart { 
	width: 500px; 
	height: 500px; 
}